@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

body {
    background-color: #e2c8a0;
}

/* Header title */
.title {
    font-family: 'Irish Grover', cursive;
}

/* Image size */
.relative img {
    width: 100%;
}
.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 45%;
    left: 25%;
    color: black;
}
.absolute a{
    color: inherit;
}

/* Add site complete page */
.absolute2 {
    position: absolute;
    top: 45%;
    left: 25%;
    color: black;
}
.absolute2 a{
    color: inherit;
}

/* Register complete page */
.absolute3 {
    position: absolute;
    top: 45%;
    left: 15%;
    color: black;
}
.absolute3 a{
    color: inherit;
}

/* Loggedout page */
.absolute4 {
    position: absolute;
    top: 45%;
    left: 35%;
    color: black;
}
.absolute4 a{
    color: inherit;
}

/* Carousel for Home page */
.carousel-item {
    position: relative;
}

.carousel-caption{
    position: absolute;
    top: 50%;
}

.carousel-caption a{
    color: inherit;
    text-decoration: none;
}

/* Map for Map page, My map page */
#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 650px;
}

/* Leaflet red marker for My map page */
.marker-red {
    filter: hue-rotate(150deg);
}